// All of Nerta's other mods not Near Future Tech

//CRYO ENGINES

@PART[cryoengine-25-1]:FOR[TweakScale] // KS-01 'Odin' Cryogenic Rocket Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 2.5
    }
}
@PART[cryoengine-25-2]:FOR[TweakScale] // CT2X 'Tunguska' Cryogenic Rocket Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 2.5
    }
}
@PART[cryoengine-125-1]:FOR[TweakScale] // VL-1 'Volcano' Cryogenic Rocket Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[cryoengine-125-2]:FOR[TweakScale] // Ct10 'Chelyabinsk' Cryogenic Rocket Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[cryoengine-375-1]:FOR[TweakScale] // KS-68 'Mars' Cryogenic Rocket Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 3.75
    }
}
@PART[cryoengine-375-2]:FOR[TweakScale] // Ct65 'Yucatan' Cryogenic Rocket Engine
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 3.75
    }
}

//CRYO TANKS

@PART[hydrogen-radial-25-1]:FOR[TweakScale] // Radial Hydrogen Tank
{
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[hydrogen-radial-125-1]:FOR[TweakScale] // Radial Hydrogen Tank
{
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[hydrogen-radial-375-1]:FOR[TweakScale] // Radial Hydrogen Tank
{
    %MODULE[TweakScale]
    {
        type = free
    }
}

@PART[hydrogen-125-1]:FOR[TweakScale] // Centi Hydrogen Tank
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[hydrogen-125-2]:FOR[TweakScale] // Centi Hydrogen Tank
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[hydrogen-25-1]:FOR[TweakScale] // HI-M Hydrogen Tank
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 2.5
    }
}

@PART[hydrogen-25-2]:FOR[TweakScale] // HI-M Hydrogen Tank
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 2.5
    }
}

@PART[hydrogen-25-3]:FOR[TweakScale] // HI-M Hydrogen Tank
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 2.5
    }
}

@PART[hydrogen-375-1]:FOR[TweakScale] // Mondo Hydrogen Tank
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 3.75
    }
}

@PART[hydrogen-375-2]:FOR[TweakScale] // Mondo Hydrogen Tank
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 3.75
    }
}

@PART[hydrogen-375-3]:FOR[TweakScale] // Mondo Hydrogen Tank
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 3.75
    }
}

@PART[hydrogen-10-1]:FOR[TweakScale] // HI-530 Hydrogen Tank
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 10
    }
}

//KERBAL ATOMICS - These may need additional support, should be tested, I have not yet

@PART[ntr-gc-25-1]:FOR[TweakScale] // LV-N-GE 'Liberator' Atomic Rocket Motor
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 2.5
    }
}
@PART[ntr-gc-25-2]:FOR[TweakScale] // LV-N-GX 'Emancipator' Atomic Rocket Motor
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 2.5
    }
}
@PART[ntr-sc-25-1]:FOR[TweakScale] // LV-N500 'Poseidon' Trimodal Atomic Rocket Motor
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 2.5
    }
}
@PART[ntr-sc-125-1]:FOR[TweakScale] // LV-100 'Neptune' Trimodal Atomic Rocket Motor
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[ntr-sc-125-2]:FOR[TweakScale] // LV-N50 'Stubber' Augmented Atomic Rocket Motor
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

//HEAT CONTROL
@PART[radiator-fixed-4]:FOR[TweakScale] // VS-3750 High Temperature Heat Radiator
{
    %MODULE[TweakScale]
    {
        type = free_square
    }
}
@PART[radiator-fixed-3]:FOR[TweakScale] // VS-1000 High Temperature Heat Radiator
{
    %MODULE[TweakScale]
    {
        type = free_square
    }
}
@PART[radiator-fixed-2]:FOR[TweakScale] // YZ-10 'Phi' High Temperature Radiator Fin
{
    %MODULE[TweakScale]
    {
        type = free_square
    }
}
@PART[radiator-fixed-1]:FOR[TweakScale] // YZ-50 'Tau' High Temperature Heat Radiator
{
    %MODULE[TweakScale]
    {
        type = free_square
    }
}
@PART[radiator-surface-375-1]:FOR[TweakScale] // YC-75 'Amos' High Temperature Heat Radiator
{
    %MODULE[TweakScale]
    {
        type = free_square
    }
}
@PART[radiator-surface-25-1]:FOR[TweakScale] // YC-50 'Volta' High Temperature Heat Radiator
{
    %MODULE[TweakScale]
    {
        type = free_square
    }
}
@PART[radiator-surface-125-1]:FOR[TweakScale] // YC-25 'Ezikiel' High Temperature Heat Radiator
{
    %MODULE[TweakScale]
    {
        type = free_square
    }
}
@PART[radiator-universal-3]:FOR[TweakScale] // XR-3750 High Temperature Heat Radiator
{
    %MODULE[TweakScale]
    {
        type = free_square
    }
}
@PART[radiator-conformal-3]:FOR[TweakScale] // GR-2 Conformal Heat Radiator
{
    %MODULE[TweakScale]
    {
        type = stack_square
        defaultScale = 2.5
    }
}
@PART[radiator-universal-1]:FOR[TweakScale] // XR-325 Standardized Heat Radiator
{
    %MODULE[TweakScale]
    {
        type = free_square
    }
}
@PART[radiator-conformal-1]:FOR[TweakScale] // GR-3-MINI Conformal Heat Radiator
{
    %MODULE[TweakScale]
    {
        type = free_square
    }
}
@PART[radiator-universal-2]:FOR[TweakScale] // XR-2500 Standardized Heat Radiator
{
    %MODULE[TweakScale]
    {
        type = free_square
    }
}
@PART[radiator-conformal-2]:FOR[TweakScale] // GR-3 Conformal Heat Radiator
{
    %MODULE[TweakScale]
    {
        type = free_square
    }
}
//STATION PARTS
@PART[light-area-*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = free
    }
}
@PART[crewpod-cupola-375*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 3.75
    }
}
@PART[crewpod-habitation-25*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 2.5
    }
}
@PART[crewpod-habitation-375*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 3.75
    }
}
@PART[crewpod-observation-25*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 2.5
    }
}
@PART[crewhub-125*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 1.25
    }
}
@PART[crewhub-25*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 2.5
    }
}
@PART[crewtube-25*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 2.5
    }
}
@PART[crewtube-airlock-25*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 2.5
    }
}
@PART[crewtube-attach-25*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 2.5
    }
}
@PART[crewtube-hub-25*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 2.5
    }
}
@PART[crewtube-125*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 1.25
    }
}
@PART[crewtube-airlock-125*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 1.25
    }
}
@PART[crewtube-attach-125*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 1.25
    }
}
@PART[crewtube-cupola-125*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 1.25
    }
}
@PART[crewtube-hub-125*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 1.25
    }
}
@PART[crewtube-375*]:FOR[TweakScale] //
{
    %MODULE[TweakScale]
    {
        type = stack
		defaultScale = 3.75
    }
}

